# Configuration de la base de données
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db_name
DB_USER=votre_usernameutilisateur
DB_PASSWORD=password
DB_CHARSET=utf8
DB_COLLATION=utf8mb3_general_ci
DB_PREFIX=

# Configuration de l'environnement
APP_ENV=development
APP_DEBUG=true
