# Activer le moteur de réécriture
RewriteEngine On

# Rediriger toutes les requêtes vers le dossier "public/"
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]

# Rediriger les requêtes internes dans le dossier "public/"
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier ou le dossier demandé n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rediriger vers index.php
    RewriteRule ^ public/index.php [QSA,L]
</IfModule>
